*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

table{
    width: 160px;
    height: 160px;
    border-collapse: collapse;
}

td{
    border: 1px solid black;
    padding: 8px;
    
}

.container-score{
    display: flex;
    font-size: 15px;
    gap: 20px;
}